<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Person</title>
  </head>
  <body>
    <h1>Create Person</h1>
    <th:block th:unless="${#lists.isEmpty(errors)}">
      <p>Please correct the following errors in your submission:</p>
      <ul>
        <th:block th:each="error : ${errors}">
          <li>${error}</li>
        </th:block>
      </ul>
    </th:block>
    <form action="/person/create" method="POST">
      <br/>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" th:value="${person.firstName}"/>
      <br/>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" th:value="${person.lastName}"/>
      <br/>
      <label for="emailAddress">Email Address:</label>
      <input type="text" name="emailAddress" th:value="${person.emailAddress}"/>
      <br/>
      <label for="streetAddress">Street Address:</label>
      <input type="text" name="streetAddress" th:value="${person.streetAddress}"/>
      <br/>
      <label for="city">City:</label>
      <input type="text" name="city" th:value="${person.city}"/>
      <br/>
      <label for="state">State:</label>
      <input type="text" name="state" th:value="${person.state}"/>
      <br/>
      <label for="zipCode">Zip Code:</label>
      <input type="text" name="zipCode" th:value="${person.zipCode}"/>
      <br/>
      <input type="submit" name="Submit" value="Submit"/>
    </form>
  </body>
</html>
