<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Delete Person</title>
  </head>
  <body>
    <h1>Delete Person</h1>
    <p>You are about to delete the person <th:block th:text="${person.firstName}" /> <th:block th:text="${person.lastName}" />:  Are you sure?</p>
    <form action="/person/delete" method="post">
      <input type="hidden" name="personId" th:value="${person.personId}"/>
      <input type="submit" name="command" value="Cancel"/>
      <input type="submit" name="command" value="Delete"/>
    </form>
  </body>
</html>
